################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatternsWithCSharp10/.vs/DesignPatternsWithCSharp10/FileContentIndex/4f20a466-9791-4c1c-a274-09be4d38389e.vsidx
